@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}
.active {
  color: #2dd4bf;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  backdrop-filter: blur;
}
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0d9488;
  --color-secondary: #111827;
  --color-base-100: #f9fafb;
  --color-base-200: #ffffff;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #2dd4bf;
  --color-secondary: #f9fafb;
  --color-base-100: #111827;
  --color-base-200: #182131;
}
